DATABASE_URL=postgresql://postgres.ukcajjfmvedeoykyelcj:Aftab2026alam@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres

SUPABASE_ANON=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrY2FqamZtdmVkZW95a3llbGNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4OTEwMjQsImV4cCI6MjA5MzQ2NzAyNH0.B5cFsYLtid7n1SVbMcB4lCYbLq16KbPtHabeQBfgidE
GMAIL_USER=alam786aftab19@gmail.com
GMAIL_PASS="ppctqpyhoxdxvzam"
GEMINI_API_KEY=AIzaSyDGEZWx6P_hFrKz0K_mdepsQUnib4L33ZU
JWT_SECRET=complaints_secret_key_123
PORT=3010
FRONTEND_URL=http://127.0.0.1:5500